// HK Grotesk for body
@font-face {
  font-family: 'HK Grotesk';
  font-weight: normal;
  src: url($HKGRegular) format('woff2');
}

// HK Grotesk for headings
@font-face {
  font-family: 'HK Grotesk';
  font-weight: bold;
  src: url($HKGBold) format('woff2');
}

:root {
  --font-family: 'HK Grotesk', Arial, sans-serif;
  --heading-font-family: 'HK Grotesk', Arial, sans-serif;
}
